.content {
  width: 100;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.description {
  height: auto;
  width: 58%;
  border: 2px solid #001529;
  /* border-radius: 15px; */
  margin-top: 10px;
  text-align: left;
  padding: 1rem;
}
.imageHolder {
  width: 100%;
}
.likeContainer {
  text-align: center;
  margin-top: 1rem;
}
