.content {
  width: 100;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.description {
  height: auto;
  width: 58%;
  margin-top: 10px;
  text-align: left;
  padding: 1rem;
}
.imageHolder {
  width: 100%;
}
.likeContainer {
  text-align: center;
  margin-top: 1rem;
}
.imageCard {
  display: inline-block;
  justify-content: center;
  margin: 0.5rem;
}
.socialShareContainer {
  display: flex;
  justify-content: center;
}
.uploadImageForm {
  text-align: center;
}
.uploadForm {
  margin: 2rem;
}
