.colAbout {
  margin-top: 6%;
  background-color: white;
  padding: 2rem;
  float: none;
  border-radius: 10px;
  display: inline-block;
}
.colAbout p {
  color: black;
  float: none;
}
.colAbout h2 {
  color: black;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.colAbout img {
  height: 200px;
}
.containerDiv {
  /* background-image: url("../../data/images/keyboard.jpg"); */
  background: white;
  object-fit: cover;
  height: 100vh;
}
.divLogo {
  background: black;
  opacity: 0.9;
  border-radius: 10px;
}
