.colAbout {
  margin-top: 6%;
  background-color: white;
  padding: 2rem;
  float: none;
  border-radius: 10px;
}
.colAbout p {
  color: black;
  float: none;
}
.colAbout h2 {
  color: black;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.colAbout img {
  height: 200px;
}
.containerDiv {
  /* background-image: url("../../data/images/keyboard.jpg"); */
  background: #001529;
  object-fit: cover;
  height: 100vh;
  border-radius: 10px;
}
.divLogo {
  background: black;
  opacity: 0.9;
  border-radius: 10px;
}
